body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* viewport height */
}

.TopBar {
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 2%;
}

#menu {
  width: 50px;
  height: 50%;
  border: 1px solid grey;
  border-radius: 10%;
  padding: 10px;
}

#logo {
  height: 90%;
  padding-left: 2%;
  padding-right: 2%;
}

.category p {
  padding: 10px 0 10px 10rem;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
}

#LoginInfo {
  font-size: x-large;
  font-weight: bold;
  color: gray;
  margin-left: auto;
  margin-right: 10%;
}

#appliedJobContainer {
  width: 100%;
  min-height: 30vh;
  padding: 10px 0 10px 10rem;
  background-color: white;
  font-size: 20px;
  /* font-weight: bolder; */
}
#appliedProContainer {
  width: 100%;
  min-height: 30vh;
  padding: 10px 0 10px 10rem;
  background-color: white;
  font-size: 20px;
  /* font-weight: bolder; */
}
.container {
  margin-bottom: 40px;
}
.container h2 {
  margin-bottom: 10px;
}
.form-group {
  margin-bottom: 20px;
}
.period{
	display: inline;
}
label {
  display: inline-block;
  min-width: 60px;
	margin: 10px;
}
input[type="date"] {
  margin-right: 10px;
}
input[type="text"] {
  width: 200px;
  margin-right: 10px;
}
.buttons {
  margin-top: 10px;
}
.buttons button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #b6a6d9;
  border: none;
  cursor: pointer;
  border-radius: 5px;
	width: 100px;
	height: 40px;
	font-size: 20px;
} 
.buttons button:last-child {
  background-color: #d9d9d9;
}

label{
	font-weight: bold;
}

/* #table{
  border: 1px solid black;
}

.pagination button {
      margin: 0 2px;
      padding: 5px 10px;
      cursor: pointer;
    }
    .pagination button.active {
      font-weight: bold;
    }
    스타일 파일 또는 <style> 태그에 추가 */
.table-container {
  max-height: 400px; /* 최대 높이 설정 */
  overflow-y: auto;  /* 세로 스크롤 추가 */
  display: none;     /* 기본적으로 숨김 */
}

table {
  /* width: 100%;        테이블 너비 설정 */
  border-collapse: collapse; /* 테두리 병합 */
  max-height: 400px;
}
/* tbody{
  overflow-y: auto;
  display: block;
} */
 
        
table th, table td {
  padding: 8px; /* 셀 안쪽 여백 */
  border: 1px solid #ddd; /* 셀 테두리 */
  text-align: left; /* 셀 내용 정렬 */
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 내용 숨기기 */
}

table th {
  background-color: #f4f4f4; /* 헤더 배경 색상 */
}
