* {
    margin: 0;
    padding: 0;
  }
  body{
    margin: auto;
  }
  /*⭐헤더*/
  h2 {
    margin-top: 70px;
    margin-left: 200px;
    font-size: 40px;
    display: inline;
    line-height: 80px;
  }
  #search {
    width: 400px;
    height: 40px;
    margin: 0px 0px 10px 10px;
  }
  #searchBtn {
    width: 40px;
    height: 40px;
    margin: 0px 10px 0 0;
  }
  p {
    display: inline;
  }
  #calendar {
    width: 40px;
    height: 40px;
  }

  /*⭐카테고리*/
  #category {
    color: #fff;
    background-color: #a5d7ff;
    padding: 10px;
    padding-left: 150px;
  }

  .menu {
    position: relative;
    display: inline-block;
    margin: 0 10px 0 50px;
  }
  a {
    color: black;
    text-decoration: none;
  }

  .submenu {
    display: none;
    position: absolute;
    background-color: #ffffff;
    opacity: 80%;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
  }

  .submenu a {
    display: block;
    color: #333;
    padding: 6px 0;
    text-decoration: none;
  }

  .menu:hover .submenu {
    display: block;
  }

  /*⭐바디*/
  #body {
    margin: 20px 0 10px 200px;
  }

  #ad {
    width: 600px;
    height: 250px;
    float: left; /* 왼쪽으로 부유(floating) */
    margin-right: 20px; /* 오른쪽 여백 추가 */
  }

  #loginDiv {
    width: 250px;
    height: 250px;
    border: 1px solid black;
    float: left; /* 왼쪽으로 부유(floating) */
    margin-left: 50px;
    line-height: 60px;
    text-align: center;
  }
  #psnLogin {
    width: 200px;
    height: 40px;
    margin: 20px 0 10px 0;
    background-color: rgb(255, 142, 142);
    border: 0px;
  }
  #cpnLogin {
    width: 200px;
    height: 40px;
    margin: 10px 0 10px 0;
    background-color: #a5d7ff;
    border: 0px;
  }
  #mngLogin {
    width: 200px;
    height: 40px;
    margin: 10px 0 10px 0;
    color: white;
    background-color: #0168bd;
    border: 0px;
  }

  /* ⭐바디2 */
  #body2{
    width: 600px; height: 200px;
    border: 1px solid black;
    margin: 20px 0 10px 200px;
  }

  /* 푸터 */
  #footer{
    background-color: #fff6a8;
    height: 80px;
    margin-top: 60px;
  }
